<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gcc.feature.module_splash">

    <application>
        <activity android:name=".FeatureSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
